if on_git_branch; then
  echo && git status --short --branch &&
    echo && git fetch --verbose && echo
fi

use flake

export MINIJINJA_CONFIG_FILE="$PWD/.minijinja.toml"
export TALOSCONFIG="$PWD/talosconfig"
export KUBECONFIG="$PWD/kubeconfig"
