# Trash
.DS_Store
Thumbs.db

# Sops
.decrypted~*

# Other files
kubeconfig
talosconfig

# Other Folders
.direnv/
clusters/psb/*

!clusters/psb/bootstrap/
!clusters/psb/components/
!clusters/psb/mod.just
!clusters/psb/talos/

