# Trash
.DS_Store
Thumbs.db

# Sops
.decrypted~*

# Other files
kubeconfig
talosconfig

# Other Folders
.direnv/
clusters/psb/*
!clusters/psb/talos/
!clusters/psb/mod.just
!clusters/psb/components/


