# Trash
.DS_Store
Thumbs.db

# Sops
.decrypted~*

# Other files
kubeconfig
talosconfig

# Other Folders
.direnv/

clusters/psb/apps/*

!clusters/psb/apps/cert-manager/
!clusters/psb/apps/database/
!clusters/psb/apps/external-secrets/
!clusters/psb/apps/flux-system/
!clusters/psb/apps/home-automation/
!clusters/psb/apps/kube-system/
!clusters/psb/apps/observability/
!clusters/psb/apps/network/
!clusters/psb/apps/openebs/
!clusters/psb/apps/rook-ceph/
!clusters/psb/apps/selfhosted/
!clusters/psb/apps/system/
!clusters/psb/apps/system-controllers/
!clusters/psb/apps/system-upgrade/
