---
machine:
  install:
    diskSelector:
      serial: S665NN0Y705378
  network:
    hostname: aka.sto.bar.internal
    interfaces:
      # midori
      - deviceSelector:
          busPath: 0-1.0
          driver: thunderbolt-net
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.21/32
        routes:
          - network: 169.254.255.22/32
            metric: 2048
      # ao
      - deviceSelector:
          busPath: 1-1.0
          driver: thunderbolt-net
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.21/32
        routes:
          - network: 169.254.255.23/32
            metric: 2048
  nodeLabels:
    node.kubernetes.io/gpu: "true"
  type: controlplane
