---
machine:
  install:
    diskSelector:
      serial: S665NN0Y705289
  nodeLabels:
    node.kubernetes.io/gpu: "true"
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ao.sto.bar.internal
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: ao-aka
selector:
    match: link.driver == "thunderbolt-net" && link.bus_path == "1-1.0"
---
apiVersion: v1alpha1
kind: LinkConfig
name: ao-aka
addresses:
  - address: 169.254.255.23/32
mtu: 65520
routes:
  - destination: 169.254.255.21/32
    metric: 2048
up: true
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: ao-midori
selector:
    match: link.driver == "thunderbolt-net" && link.bus_path == "0-1.0"
---
apiVersion: v1alpha1
kind: LinkConfig
name: ao-midori
addresses:
  - address: 169.254.255.23/32
mtu: 65520
routes:
  - destination: 169.254.255.22/32
    metric: 2048
up: true
